<!DOCTYPE html>
<html>
  <head>
    <title>SoclSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    $(document).ready(function() {
    $('.result').error(function() {
        $(this).attr({
            src: '/images/no_image.jpeg',
            alt: 'no image'
        });
    });
});
  </head>

  <body>
    <%= yield %>
  </body>
</html>
